<div class="container">

  <table class="vs-hidden">
    <tr>
      <th>To</th>
      <th>Subject</th>
      <th>Date Sent</th>
    </tr>
    <ng-container *ngIf="sentMessages">
      <tr (click)="viewMessage(message)" class="table-row" *ngFor="let message of sentMessages | sort">
        <td>{{ message.sent_message_recipient }}</td>
        <td>{{ message.sent_message_subject }}</td>
        <td>{{ message.sent_message_date_sent | date:'M/d/yy, h:mm a' }}</td>
      </tr>
    </ng-container>
  </table>

  <div class="vs-visible">
    <h1 class="mobile-header">Sent</h1>

    <ul *ngIf="sentMessages.length === 0" class="message-list-group">
      <li class="message-list-item">
        <ul class="message-list-item-child">
          <li class="message-liste-item-child">
            No Messages
          </li>
        </ul>
      </li>
    </ul>

    <ul class="message-list-group">
      <li (click)="viewMessage(message)" *ngFor="let message of sentMessages | sort" class="message-list-item">
        <strong>{{ message.sent_message_recipient }}</strong>
        <ul class="message-list-item-child">
          <li class="message-liste-item-child">
            <em>{{ message.sent_message_subject }}</em>
          </li>
          <li class="message-list-item-child">
            {{ message.sent_message_body }}
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>