<div class="flex-container">
  <h1 class="page-header">New Message</h1>

  <div class="form-container message-container">
    <form (submit)="sendMessage(messageRecipient, messageSubject, messageBody, composeForm)" #composeForm="ngForm">

      <div class="form-group" [ngClass]="{'danger' : (!username.valid && username.touched), 'success' : username.valid}">
        <label for="username">To:</label>
        <input [readonly]="processing" type="text" name="username" placeholder="Recipient" class="form-control dropdown" #username="ngModel"
          [(ngModel)]="messageRecipient" maxlength="50" required autocomplete="off">
      </div>

      <div class="form-group" [ngClass]="{'danger' : (!subject.valid && subject.touched), 'success' : (subject.valid)}">
        <label for="username">Subject:</label>
        <input [readonly]="processing" type="text" name="password" placeholder="Subject" class="form-control" #subject="ngModel"
          [(ngModel)]="messageSubject" maxlength="50" required>
      </div>

      <div class="form-group" [ngClass]="{'danger' : (!body.valid && body.touched), 'success' : (body.valid)}">
        <textarea placeholder="Message Body" [readonly]="processing" #body="ngModel" [(ngModel)]="messageBody" name="message" class="message-body form-control"
          required maxlength="500"></textarea>
      </div>

      <div class="form-group">
        <button [disabled]="processing || !username.valid || !subject.valid || !body.valid" type="submit" class="btn-primary" name="button">Send</button>
        <button (click)="saveDraft(messageRecipient, messageSubject, messageBody, composeForm)" [disabled]="processing || !username.valid || !subject.valid || !body.valid"
          type="button" class="btn-success" name="button">Save Draft</button>
      </div>

    </form>
  </div>
</div>